/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */


/* universel styles */

html, body {
  padding: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  
}

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');




/* header */

header {
  background-color: #f3eee8;
  width: 100%;
  height: 450px;
  text-align: center;
  margin-top:0;
}

nav {
    margin: 0;
    padding: 20px auto;
}
  
nav li {
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 75px;
    
}

nav li a{
    text-decoration: none;
    color: rgb(116, 107, 107);
    
}

.nav-bottom li{
    color: rgb(116, 107, 107);
    font-size: 30px;
    font-family:'Plus Jakarta Sans', sans-serif;
    letter-spacing: 5px;
    padding: 15px 105px;
    display: inline-block;
    font-weight: bold; 
}


.nav-bottom a{
    text-decoration:none;
    list-style: none;
    color: rgb(95, 89, 89);
      
}





main {
  padding: 20px 15px;
  margin-bottom: 60px;
  text-align: center;  
}


h1 {
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
  letter-spacing: 12px;
  font-size: 55px;
  color: #49423d;
  padding: 0 ;
  margin:0; 
}

h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: rgb(95, 89, 89);
    line-height: 70px;
    margin-top: 0;
}



h3 {
  font-family:'Plus Jakarta Sans', sans-serif;
  font-size: 22px;
   
  color: rgb(116,108,105);

  margin-top: 0;
  margin-bottom: 0;
  text-align: center;  
}

p {
    font-family:'Nanum Gothic', sans-serif;
    color: rgb(91,85,83);
    font-size: 15px;
    text-align: justify;  
}


/*---article 1 ---*/
.item {
    display: grid;
    grid-template: 1fr / 50% 50% ;
    margin: 100px 100px 100px 100px;
    position: relative;    
}

.fond1{
  position: absolute;
  width: 95%;
  height: 300px;
}

.text1 {
  float: left;
  margin: 5px 5px 25px 5px;
  padding-left: 20px; 
}

.text1 h2{
  text-align: left;
  height: 50px; 
}

.img1 {
  position:relative;
  float:right;
  margin: 5px 0 5px 5px;
  padding-left: 140px;
}

/*--- article 3 ---*/

.article3{
  display: grid;
  grid-template: 1fr / 30% 40% 30% ;
  margin-top:15px;
  position: relative;
  background-color: #f3eee8;
  height: 500px;
  align-content: center;
}

.col11{
  padding: 20px 10px 0;
  margin: 20px 20px 30px 80px;
  height: 40%;
}

.col11 p{
  margin-top: 0;
}


.col11 h3{
  text-align: left;
  margin-bottom: 0;
}


.col12{
  padding: 20px 10px 0;
  margin: 20px 20px 30px 80px;
}

.col12 p{
  margin-top: 0;
}


.col12 h3{
  text-align: left;
  margin-bottom: 0;
}

.col2 img{
  width: 80%;
  padding: 20px 5px 20px;
  margin: 5px 5px 5px 5px;
}

.col31{
  padding: 20px 10px 0;
  margin: 20px 80px 0 50px;
  height: 40%;
}

.col31 p{
  margin-top: 0;
}


.col31 h3{
  text-align: right;
  margin-bottom: 0;
}


.col32{
  padding: 20px 10px 0;
  margin: 0 80px 30px 50px;
}

.col32 p{
  margin-top: 0;
}

.col32 h3{
  text-align: right;
  margin-bottom: 0;
}


/*--------------------------------------
.categorie{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 5px 350px 10px;
  position: relative;
}

.categorie a{
  text-decoration: none;
  font-family:'Plus Jakarta Sans', sans-serif;
  color: rgb(91,85,83);
  font-size: 18px;
  font-weight: bold;
}

.cat1{
  background-color: rgb(250,204,147) ;
  padding: 30px 150px 30px;
}

.cat2{
  background-color: #fff;
  padding: 30px 150px 30px;
}

.cat3{
    background-color: rgb(239,161,82) ;
    padding: 30px 150px 30px;
}

.cat4{
  background-color: #fff;
  padding: 30px 150px 30px;
}

.cat5{
  background-color: rgb(116,208,161) ;
  padding: 30px 150px 30px;
}


.button-cat:hover {
  background-color: rgb(218, 183, 173);
  color: rgb(117, 80, 80);
}
--------*/





/*-------

.vertical-line{
    position: absolute;
    border-left: 1px solid rgb(183,176,174);
    height: 50px;
    left:50%;
    margin-left: 3px;
    top: 500px;
   
}
------------*/

